examples/BlinkerUltimate.json
[
  {
    "id": "blk_tab_1",
    "type": "tab",
    "label": "BlinkerUltimate - start/stop/interval",
    "disabled": false,
    "info": "Esempio: avvia/ferma il blink e cambia l'intervallo tramite msg.interval."
  },
  {
    "id": "blk_cmt_1",
    "type": "comment",
    "z": "blk_tab_1",
    "name": "Start/Stop + cambio intervallo",
    "info": "payload=true avvia; payload=false ferma. msg.interval (ms) cambia la frequenza.",
    "x": 220,
    "y": 60,
    "wires": []
  },
  {
    "id": "blk_inj_start",
    "type": "inject",
    "z": "blk_tab_1",
    "name": "Start (true)",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "x": 150,
    "y": 140,
    "wires": [["blk_node_1"]]
  },
  {
    "id": "blk_inj_stop",
    "type": "inject",
    "z": "blk_tab_1",
    "name": "Stop (false)",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "false",
    "payloadType": "bool",
    "x": 150,
    "y": 180,
    "wires": [["blk_node_1"]]
  },
  {
    "id": "blk_inj_interval",
    "type": "inject",
    "z": "blk_tab_1",
    "name": "Interval 200ms + start",
    "props": [
      { "p": "payload", "v": "true", "vt": "bool" },
      { "p": "interval", "v": "200", "vt": "num" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 190,
    "y": 220,
    "wires": [["blk_node_1"]]
  },
  {
    "id": "blk_node_1",
    "type": "BlinkerUltimate",
    "z": "blk_tab_1",
    "name": "Blinker",
    "stopbehaviorPIN1": "0",
    "stopbehaviorPIN2": "1",
    "blinkfrequency": "500",
    "initializewith": "0",
    "payloadPropName": "payload",
    "x": 390,
    "y": 180,
    "wires": [["blk_dbg_1"], ["blk_dbg_2"]]
  },
  {
    "id": "blk_dbg_1",
    "type": "debug",
    "z": "blk_tab_1",
    "name": "PIN1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 160,
    "wires": []
  },
  {
    "id": "blk_dbg_2",
    "type": "debug",
    "z": "blk_tab_1",
    "name": "PIN2 (inverted)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 610,
    "y": 200,
    "wires": []
  }
]

