examples/HysteresisUltimate.json
[
  {
    "id": "hys-flow",
    "type": "tab",
    "label": "HysteresisUltimate"
  },
  {
    "id": "hys-node",
    "type": "HysteresisUltimate",
    "z": "hys-flow",
    "name": "Bathroom Humidity",
    "controlTopic": "hysteresis",
    "payloadPropName": "payload",
    "translatorConfig": "",
    "mode": "high",
    "onThreshold": 70,
    "offThreshold": 62,
    "initialState": false,
    "emitOnlyOnChange": true,
    "onPayload": "on",
    "onPayloadType": "str",
    "offPayload": "off",
    "offPayloadType": "str",
    "x": 520,
    "y": 200,
    "wires": [["hys-out"], ["hys-diag"]]
  },
  {
    "id": "hys-in-1",
    "type": "inject",
    "z": "hys-flow",
    "name": "Humidity 68",
    "props": [
      { "p": "payload", "v": "68", "vt": "num" },
      { "p": "topic", "v": "sensor/bathroom/humidity", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 260,
    "y": 160,
    "wires": [["hys-node"]]
  },
  {
    "id": "hys-in-2",
    "type": "inject",
    "z": "hys-flow",
    "name": "Humidity 72",
    "props": [
      { "p": "payload", "v": "72", "vt": "num" },
      { "p": "topic", "v": "sensor/bathroom/humidity", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 260,
    "y": 200,
    "wires": [["hys-node"]]
  },
  {
    "id": "hys-in-3",
    "type": "inject",
    "z": "hys-flow",
    "name": "Humidity 60",
    "props": [
      { "p": "payload", "v": "60", "vt": "num" },
      { "p": "topic", "v": "sensor/bathroom/humidity", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 260,
    "y": 240,
    "wires": [["hys-node"]]
  },
  {
    "id": "hys-lock-comment",
    "type": "comment",
    "z": "hys-flow",
    "name": "Permanent output lock commands (independent of msg.topic)",
    "info": "lock: suppress every output\nlockOn: emit ON once, then suppress every output\nlockOff: emit OFF once, then suppress every output\nunlock: resume normal processing",
    "x": 310,
    "y": 320,
    "wires": []
  },
  {
    "id": "hys-lock",
    "type": "inject",
    "z": "hys-flow",
    "name": "Lock without output",
    "props": [
      { "p": "permanentLockState", "v": "lock", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 230,
    "y": 360,
    "wires": [["hys-node"]]
  },
  {
    "id": "hys-lock-on",
    "type": "inject",
    "z": "hys-flow",
    "name": "Force ON and lock",
    "props": [
      { "p": "permanentLockState", "v": "lockOn", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 230,
    "y": 400,
    "wires": [["hys-node"]]
  },
  {
    "id": "hys-lock-off",
    "type": "inject",
    "z": "hys-flow",
    "name": "Force OFF and lock",
    "props": [
      { "p": "permanentLockState", "v": "lockOff", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 230,
    "y": 440,
    "wires": [["hys-node"]]
  },
  {
    "id": "hys-unlock",
    "type": "inject",
    "z": "hys-flow",
    "name": "Unlock",
    "props": [
      { "p": "permanentLockState", "v": "unlock", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 200,
    "y": 480,
    "wires": [["hys-node"]]
  },
  {
    "id": "hys-out",
    "type": "debug",
    "z": "hys-flow",
    "name": "HA Fan Command",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 780,
    "y": 180,
    "wires": []
  },
  {
    "id": "hys-diag",
    "type": "debug",
    "z": "hys-flow",
    "name": "Diagnostics",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 760,
    "y": 240,
    "wires": []
  }
]
