examples/InjectUltimate.json
[
  {
    "id": "iju_tab_1",
    "type": "tab",
    "label": "InjectUltimate - 4 outputs",
    "disabled": false,
    "info": "Esempio: clicca il pulsante del nodo InjectUltimate per inviare messaggi su 4 uscite (true/false/toggle/JSON)."
  },
  {
    "id": "iju_cmt_1",
    "type": "comment",
    "z": "iju_tab_1",
    "name": "Clicca il pulsante a sinistra del nodo",
    "info": "Output 1: true\nOutput 2: false\nOutput 3: toggle\nOutput 4: JSON definito nel nodo",
    "x": 240,
    "y": 60,
    "wires": []
  },
  {
    "id": "iju_node_1",
    "type": "InjectUltimate",
    "z": "iju_tab_1",
    "name": "Inject",
    "topic": "1",
    "curVal": true,
    "outputJSON": "{\\n\\t\"payload\":\"hello\",\\n\\t\"topic\":\"1\"\\n}",
    "x": 170,
    "y": 160,
    "wires": [["iju_dbg_true"], ["iju_dbg_false"], ["iju_dbg_toggle"], ["iju_dbg_json"]]
  },
  {
    "id": "iju_dbg_true",
    "type": "debug",
    "z": "iju_tab_1",
    "name": "Pin1 (true)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 420,
    "y": 120,
    "wires": []
  },
  {
    "id": "iju_dbg_false",
    "type": "debug",
    "z": "iju_tab_1",
    "name": "Pin2 (false)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 430,
    "y": 160,
    "wires": []
  },
  {
    "id": "iju_dbg_toggle",
    "type": "debug",
    "z": "iju_tab_1",
    "name": "Pin3 (toggle)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 430,
    "y": 200,
    "wires": []
  },
  {
    "id": "iju_dbg_json",
    "type": "debug",
    "z": "iju_tab_1",
    "name": "Pin4 (JSON)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 430,
    "y": 240,
    "wires": []
  }
]

